<?xml version="1.0"?>

<model>
  <name>long_brick_wall_model</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Reka Berci-Hajnovics</name>
    <email>reka@dobots.nl</email>
  </author>

  <description>
    3d models of a long brick wall
  </description>
</model>

